commands:
  01_install_deps:
    command: sudo dnf install -y wget
  02_download_chrome:
    command: wget https://dl.google.com/linux/direct/google-chrome-stable_current_x86_64.rpm
  03_install_chrome:
    command: sudo dnf install -y ./google-chrome-stable_current_x86_64.rpm
  04_cleanup:
    command: rm google-chrome-stable_current_x86_64.rpm
